@page "/"
@using Domain.Images
@using ImgGen.Application.Repository

@inject ImageTypeRepository ImageTypeRepo
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="docs-section-content-inner relative d-flex flex-grow-1 flex-wrap justify-center align-center px-8 pb-8 pt-2">

</div>
@if (ImageTypes is not null && ImageTypes.Any())
{
    @foreach (var imageType in ImageTypes)
    {
        <MudPaper Class="pa-16 ma-2" Outlined="true">
            <MudText Typo="Typo.h6">@imageType.Name</MudText>
            <MudText Typo="Typo.body2">@imageType.Description</MudText>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="() => NavigateToEdit(imageType.Id)">
                View Details
			</MudButton>
        </MudPaper>
    }
}
else
{
    <MudText Typo="Typo.body2">No image types available.</MudText>
}

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToCreate">
    Create New Image Type
</MudButton>

@code {
    private List<ImageType> ImageTypes = [];

    protected override async Task OnInitializedAsync()
    {
        ImageTypes = (await ImageTypeRepo.GetAllImageTypesAsync()).ToList();
    }

    private void NavigateToCreate()
    {
        Navigation.NavigateTo("/create-image-type");
    }

    private void NavigateToEdit(Guid imageTypeId)
    {
        Navigation.NavigateTo($"/manage-image-types/{imageTypeId}");
    }
}
